code {
    background-color: #fcfcfc;
    padding: 5px 20px;
    border-radius: 3px;
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
}

mark {
    background-color: rgb(245, 184, 192);
    border-radius: 3px;
    padding: 3px 3px;
}