[contentEditable=true]:empty:before{
    content:attr(placeholder);
    -webkit-tap-highlight-color: transparent;
    color: #888888;
    display: block;
}

.text-editor {
    max-width: 100%;
    width: 100%;
    height: 50px;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    min-height: 1em;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    cursor: text;
}